//configuration {
//    columns: 1;
//    show-icons:	false;
//    separator-style: "none";
//    hide-scrollbar: true;
//    click-to-exit: true;
//}

* {
    background-color: #181e23;
    test-color: #d5d5d5;
    font: "Iosevka Nerd Font 11";
}
