[Desktop Entry]
Categories=Utility
Comment=A secure and free password manager for all of your devices
Exec=bitwarden %U
Icon=bitwarden
Name=Bitwarden
Type=Application
Version=1.4
