[Desktop Entry]
Name[ast]=Alministrador Bluetooth
Name[be]=Кіраўнік Bluetooth
Name[ca]=Gestor de Bluetooth
Name[da]=Bluetooth-håndtering
Name[de]=Bluetooth Manager
Name[el]=Διαχειριστής Bluetooth
Name[es]=Gestor de conexiones Bluetooth
Name[et]=Bluetoothi haldur
Name[fi]=Bluetooth-hallinta
Name[fr]=Gestionnaire Bluetooth
Name[he]=מנהל בלוטות׳
Name[hr]=Bluetooth upravitelj
Name[hu]=Bluetooth kezelő
Name[it]=Gestore Bluetooth
Name[ja]=Bluetooth マネージャー
Name[ko]=블루투스 관리자
Name[lt]=„Bluetooth“ tvarkytuvė
Name[nb]=Håndtering av Blåtann
Name[nl]=Bluetooth-beheerder
Name[pl]=Menedżer Bluetooth
Name[pt_BR]=Gerenciador de Bluetooth
Name[pt]=Gestor de Bluetooth
Name[ru]=Bluetooth менеджер
Name[sk]=Správca Bluetooth
Name[sl]=Bluetooth upravljalnik
Name[sv]=Bluetooth hanterare
Name[tr]=Bluetooth Yöneticisi
Name[uk]=Засіб керування Bluetooth
Name[vi]=Trình quản lý Bluetooth
Name[zh_CN]=蓝牙管理器
Name[oc]=Gestionari Bluetooth
Name=Bluetooth Manager
Icon=blueman
Exec=blueman-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;HardwareSettings;
