[Desktop Entry]
# Translators: This is a variable for the application name, don't translate!
Name=Easy Effects
Keywords[cs]=limiter;kompresor;dozvuk;ekvalizér;automatická hlasitost;
Keywords[de]=Limiter;Kompressor;Hall;Equalizer;Autovolumen;
Keywords[fr_FR]=limiteur ; compresseur ; réverbération ; égaliseur ; autovolume ;
Keywords[gl]=limitador;compresor;reverberación;ecualizador;volume automático;
Keywords[hr]=graničnik;kompresor;odjek;ekvalizator;automatska glasnoća zvuka;
Keywords[id_ID]=limiter;compressor;reverberation;equalizer;autovolume;
Keywords[it_IT]=limiter;compressore;riverbero;equalizzatore;autovolume;
Keywords[nl]=limiter;compressor;galm;equalizer;autovolume;
Keywords[pl]=limiter;kompresor;pogłos;korektor;autogłośność;
Keywords[pt_BR]=limitador;compressor;reverberação;equalizador;autovolume;
Keywords[ru]=лимитер;компрессор;ревербератор;эквалайзер;автогромкость;
Keywords[sk]=obmedzovač;kompresor;ozvena;ekvalizér;automatická hlasitosť;
Keywords[sv]=begränsare;kompressor;eko;utjämnare;autovolym;
Keywords[da]=begrænser;kompressor;efterklang;equalizer;autovolume;
Keywords[es_MX]=limitador;compresor;reverberación;ecualizador;autovolumen;
Keywords[es_CO]=limitador;compresor;reverberación;ecualizador;autovolumen;
Keywords[tr]=sınırlayıcı,kompresör,yankı,ekolayzır,otomatikses;yükseltici;sıkıştırıcı;
Keywords[zh_CN]=限幅器;压缩器;混响;均衡器;自动音量;
Keywords[ro]=limitator;compresor;reverberație;egalizator;autovolum
Keywords[es_VE]=limitador;compresor;reverberación;ecualizador;autovolumen;
Keywords[ja]=リミッター;コンプレッサー;リバーブ;イコライザー;オートボリューム;
Keywords[ko]=limiter;compressor;reverberation;equalizer;autovolume;리미터;컴프레서;리버브;이퀄라이저;자동음량조절;반향;잔향;자동음량;
Keywords[es]=limitador;compresor;reverberación;ecualizador;autovolumen;
Keywords[bg]=ограничител;компресор;ехо;еквалайзер;автосила;
Keywords[uk]=limiter;compressor;reverberation;equalizer;autovolume;обмежувач;компресор;реверберація;еквалайзер;автогучність;ефекти;звук;пайп;запис;
Keywords[eu]=mugatzailea;konprimatzailea;durunda;ekualizadorea;bolumen automatikoa;
Keywords[nn]=limiter;compressor;reverbation;equalizer;autovolume;
Keywords[ca]=limitador;compressor;reverberació;equalitzador;autovolum;
Keywords=limiter;compressor;reverberation;equalizer;autovolume;
Categories=GTK;AudioVideo;Audio;
Exec=easyeffects
Icon=com.github.wwmm.easyeffects
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
Terminal=false
Type=Application
