[Desktop Entry]
Categories=System;Printing;HardwareSettings;X-Red-Hat-Base;
Exec=xdg-open http://localhost:631/
Icon=cups
StartupNotify=false
Terminal=false
Type=Application
Name=Manage Printing
Name[af]=bestuur Printing
Name[ar]=إدارة الطباعة
Name[az]=Çap idarə
Name[bn-IN]=মুদ্রণ পরিচালনা
Name[ca]=Gestor d'impressió
Name[cs]=Správa tisku CUPS
Name[da]=Håndter udskrivning
Name[de]=Druckerverwaltung
Name[en_US]=Manage Printing
Name[es]=Administrar impresión
Name[et]=Trükkimise haldur
Name[eu]=Kudeatu inprimaketak
Name[fr]=Gestionnaire d'impression
Name[he]=נהל הדפסות
Name[id]=Manajemen Pencetakan
Name[it]=Gestione stampa
Name[ja]=印刷の管理
Name[ko]=인쇄 관리
Name[pl]=Zarządzanie drukowaniem
Name[pt_BR]=Gerenciador de impressão
Name[pt-PT]=Gerenciador de impressão
Name[ru]=Настройка печати
Name[sv]=Hantera skrivare
Name[sq]=Menaxho Printime
Name[th]=จัดการการพิมพ์
Name[tr]=Yazıcıları Yönet
Name[uz]=chop boshqarish
Name[zh]=打印机管理
Name[zh_TW]=印表管理
