[Desktop Entry]
Categories=Network;InstantMessaging;Chat
Exec=element-desktop %u
Icon=element
MimeType=x-scheme-handler/element
Name=Element
StartupWMClass=Element
Type=Application
Version=1.4
