[Desktop Entry]
Name[ar]=موصّل صور الأقراص
Name[as]=ডিস্ক ছবি মাউন্টাৰ
Name[be]=Мантавальнік вобразаў дыскаў
Name[bg]=Монтиране на файлове с образи
Name[bn_IN]=ডিস্ক ইমেজ মাউন্টার
Name[bs]=Priključivač odraza diska
Name[ca]=Muntador d'imatges de disc
Name[ca@valencia]=Muntador d'imatges de disc
Name[cs]=Připojování obrazů disků
Name[da]=Diskenhedsmonteringsprogram
Name[de]=Einhängen von Laufwerksabbildern
Name[el]=Προσάρτηση εικόνας δίσκων
Name[en_GB]=Disk Image Mounter
Name[eo]=Diskokopia surmetilo
Name[es]=Montador de imágenes de discos
Name[et]=Kettatõmmise haakija
Name[eu]=Disko-irudien muntatzailea
Name[fa]=سوارگر تصویر دیسک
Name[fi]=Levykuvan liittäjä
Name[fr]=Monteur d’images disque
Name[fur]=Cjariadôr Imagjin Disc
Name[gd]=Munntaichear ìomhaighean diosga
Name[gl]=Montador de imaxes de disco
Name[gu]=ડિસ્ક ઇમેજ માઉન્ટર
Name[he]=מעגן דמויות כונן
Name[hi]=डिस्क छवि माउन्टर
Name[hr]=Montiratelj slike diska
Name[hu]=Lemezképcsatoló
Name[id]=Pengait Berkas Diska
Name[ie]=Montor de images de discos
Name[is]=Diskmyndatengir
Name[it]=Monta immagini disco
Name[ja]=ディスクイメージマウンター
Name[ka]=დისკის ასლის მიმმაგრებელი
Name[kk]=Диск бейнелерін тіркеуші
Name[km]=កម្មវិធី​ម៉ោន​រូបភាព​ថាស
Name[kn]=ಡಿಸ್ಕ್ ಚಿತ್ರಿಕೆಯನ್ನು ಏರಿಸುವ ಸಾಧನ
Name[ko]=디스크 이미지 마운트
Name[lt]=Disko atvaizdžio prijungėjas
Name[lv]=Disku attēlu montētājs
Name[mjw]=Disk Image Mounter
Name[ml]=ഡിസ്ക് ഇമേജ് മൌണ്ടര്‍
Name[mr]=डिस्क प्रतिमा माउंटकर्ता
Name[ms]=Pelekap Imej Cakera
Name[nb]=Montering av diskbilde
Name[nl]=Schijfkopiekoppelaar
Name[oc]=Montador d'imatges de disc
Name[or]=ଡିସ୍କ ପ୍ରତିଛବି ସ୍ଥାପକ
Name[pa]=ਡਿਸਕ ਈਮੇਜ਼ ਮਾਊਂਟਰ
Name[pl]=Montowanie obrazu dysku
Name[pt]=Montador de imagens de disco
Name[pt_BR]=Montador de imagem de disco
Name[ro]=Montator de imagini de disc
Name[ru]=Устройство монтирования образа диска
Name[sk]=Nástroj na pripojenie obrazu disku
Name[sl]=Priklopnik odtisov diskov
Name[sr]=Прикључивач одраза диска
Name[sr@latin]=Priključivač odraza diska
Name[sv]=Monterare för diskavbilder
Name[ta]=வட்டு பிம்ப ஏற்றி
Name[te]=డిస్కు ప్రతిరూపం మౌంట్‌చేయునది
Name[tg]=Васлгари тасвири диск
Name[th]=โปรแกรมเมานท์อิมเมจของดิสก์
Name[tr]=Disk Görüntüsü Bağlayıcı
Name[ug]=دىسكا تەسۋىرىنى ئېگەرلىگۈچ
Name[uk]=Монтування образів диска
Name[vi]=Trình gắn ảnh đĩa
Name[zh_CN]=磁盘映像挂载器
Name[zh_HK]=磁碟映像檔掛載器
Name[zh_TW]=磁碟映像檔掛載器
Name=Disk Image Mounter
Exec=gnome-disk-image-mounter %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=drive-removable-media
MimeType=application/x-cd-image;application/x-raw-disk-image;
Terminal=false
StartupNotify=false
Type=Application
NoDisplay=true
X-Purism-FormFactor=Workstation;Mobile;
