[Desktop Entry]
Categories=System
Comment=View NixOS documentation in a web browser
Exec=nixos-help
GenericName=System Manual
Icon=nix-snowflake
Name=NixOS Manual
Type=Application
Version=1.4
