[Desktop Entry]
Name[af]=NetworkManager-miniprogram
Name[an]=Miniaplicacion Chestor d'o rete
Name[ar]=بريمج مدير الشبكة
Name[as]=NetworkManager এপ্লেট
Name[ast]=Aplicación NetworkManager
Name[be]=Аплет NetworkManager
Name[be@latin]=Aplet NetworkManager
Name[bg]=Аплетът NetworkManager
Name[bn_IN]=NetworkManager অ্যাপ্লেট
Name[bs]=Programče Upravnik mreže
Name[ca]=Miniaplicació NetworkManager
Name[ca@valencia]=Miniaplicació NetworkManager
Name[crh]=NetworkManager Uygulamacığı
Name[cs]=Applet NetworkManager
Name[da]=Panelprogram til Netværkshåndtering
Name[de]=Netzwerk-Manager-Applet
Name[dz]=ཡོངས་འབྲེལ་འཛིན་སྐྱོང་པའི་ཨེཔ་ལེཊི་
Name[el]=Μικροεφαρμογή NetworkManager
Name[en_CA]=NetworkManager Applet
Name[en_GB]=NetworkManager Applet
Name[eo]=Apleto por NetworkManager
Name[es]=Miniaplicación Gestor de la red
Name[et]=Võrguhalduri rakend
Name[eu]=NetworkManager miniaplikazioa
Name[fa]=برنامک مدیریت شبکه
Name[fi]=Verkon hallinta -sovelma
Name[fr]=Applet NetworkManager
Name[gd]=Aplaid Manaidsear lìonraidh
Name[gl]=Miniaplicación NetworkManager
Name[gu]=NetworkManager એપ્લેટ
Name[he]=יישומון מנהל הרשתות
Name[hi]=नेटवर्कप्रबंधक एप्लेट
Name[hr]=Aplet mrežnog upravitelja
Name[hu]=Hálózatkezelő kisalkalmazás
Name[id]=Aplet NetworkManager
Name[is]=NetworkManager forrit
Name[it]=Applet NetworkManager
Name[ja]=NetworkManager アプレット
Name[kk]=NetworkManager апплеті
Name[km]=អាប់ភ្លេត NetworkManager
Name[kn]=NetworkManager ಆಪ್ಲೆಟ್
Name[ko]=네트워크 관리 애플릿
Name[ku]=Sepanoka NetworkManager
Name[lt]=NetworkManager įtaisas
Name[lv]=NetworkManager sīklietotne
Name[mk]=Аплет за менаџирање со мрежи
Name[ml]=NetworkManager ലഘുപ്രയോഗം
Name[mr]=NetworkManager ॲप्लेट
Name[ms]=Aplet NetworkManager
Name[nb]=NetworkManager panelprogram
Name[ne]=सञ्जालप्रबन्धक एप्लेट
Name[nl]=Netwerkbeheer-applet
Name[nn]=Panelprogram for NetworkManager
Name[oc]=Apondon (applet) NetworkManager
Name[or]=ନେଟୱର୍କ ପରିଚାଳକ ଆପଲେଟ
Name[pa]=ਨੈੱਟਵਰਕਮੈਨੇਜਰ ਐਪਲਿਟ
Name[pl]=Aplet NetworkManager
Name[pt]=Aplicação Gestor de redes
Name[pt_BR]=Miniaplicativo gerenciador de redes
Name[ro]=Miniaplicație Administrator de rețea
Name[ru]=Аплет NetworkManager
Name[sk]=Aplet Správca siete
Name[sl]=Aplet upravljalnika omrežja
Name[sr]=Програмче управника мреже
Name[sr@latin]=Programče upravnika mreže
Name[sv]=Miniprogram för nätverkshantering
Name[ta]=பிணைய மேலாளர் அப்லெட்
Name[te]=నెట్‌వర్క్ మ్యానేజర్ ఆప్లెట్
Name[th]=แอพเพล็ต NetworkManager
Name[tr]=NetworkManager Programcığı
Name[ug]=NetworkManager قوللانچاق
Name[uk]=Аплет NetworkManager
Name[ur]=نیٹ ورک منیجر ایپلیٹ
Name[vi]=Quản lý mạng
Name[zh_CN]=网络管理器小程序
Name[zh_HK]=NetworkManager 面板程式
Name[zh_TW]=NetworkManager 面板程式
Name=NetworkManager Applet
Icon=nm-device-wireless
Exec=nm-applet
Terminal=false
Type=Application
NoDisplay=true
NotShowIn=KDE;GNOME;
X-GNOME-UsesNotifications=true
