[Desktop Entry]
Name[be]=Пашыраная канфігурацыя сеткі
Name[ca]=Configuració de xarxa avançada
Name[cs]=Rozšířená nastavení sítě
Name[da]=Avanceret netværkskonfiguration
Name[de]=Erweiterte Netzwerkkonfiguration
Name[es]=Configuración de red avanzada
Name[eu]=Sareen konfigurazio aurreratua
Name[fi]=Edistynyt verkkokokoonpano
Name[fr]=Configuration réseau avancée
Name[he]=הגדרות רשת מתקדמות
Name[hr]=Napredno podešavanje mreže
Name[hu]=Speciális hálózati konfiguráció
Name[id]=Konfigurasi Jaringan Tingkat Lanjut
Name[it]=Configurazione di rete avanzata
Name[ja]=高度なネットワーク設定
Name[kk]=Кеңейтілген желі баптаулары
Name[lt]=Sudėtingesnė tinklo konfigūracija
Name[nb]=Avansert nettverksoppsett
Name[nl]=Geavanceerde netwerkconfiguratie
Name[oc]=Configuracion ret avançada
Name[pl]=Zaawansowana konfiguracja sieci
Name[pt]=Configuração avançada de rede
Name[pt_BR]=Configuração avançada de rede
Name[ru]=Расширенная конфигурация сети
Name[sk]=Pokročilá konfigurácia siete
Name[sl]=Napredna prilagoditev omrežja
Name[sr]=Напредно подешавање мреже
Name[sv]=Avancerad nätverkskonfiguration
Name[tr]=Gelişmiş Ağ Yapılandırma
Name[uk]=Додаткові налаштування мережі
Name[zh_CN]=高级网络配置
Name[zh_TW]=進階網路設定
Name=Advanced Network Configuration
Icon=preferences-system-network
Exec=nm-connection-editor
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;X-GNOME-Utilities;
