[Desktop Entry]
Name=KDE Connect Indicator
Name[ar]=مؤشر «كِيدِي المتّصل»
Name[az]=KDE Connect göstəricisi
Name[bg]=Индикатор за свързване на KDE
Name[ca]=Indicador del KDE Connect
Name[ca@valencia]=Indicador de KDE Connect
Name[cs]=Ukazatel KDE Connect
Name[da]=KDE Connect-indikator
Name[de]=KDE-Connect-Anzeige
Name[el]=Εφαρμογή ένδειξης KDE Connect
Name[en_GB]=KDE Connect Indicator
Name[eo]=KDE Konekti Indikilon
Name[es]=Indicador de KDE Connect
Name[et]=KDE Connecti indikaator
Name[eu]=KDE Connect adierazlea
Name[fi]=KDE Connect -osoitin
Name[fr]=Indicateur de KDE Connect
Name[gl]=Indicador de KDE Connect
Name[hu]=KDE Connect jelző
Name[ia]=KDE Connect Indicator
Name[id]=Indikator KDE Connect
Name[is]=KDE Connect-vísir
Name[it]=Indicatore di KDE Connect
Name[ja]=KDE Connect インジケーター
Name[ka]=KDE Connect -ის მაჩვენებელი
Name[ko]=KDE Connect 표시기
Name[lt]=KDE Connect indikatorius
Name[nl]=KDE-Connect indicator
Name[nn]=KDE Connect-indikator
Name[pl]=Wskaźnik KDE Connect
Name[pt]=Indicador do KDE Connect
Name[pt_BR]=Indicador do KDE Connect
Name[ro]=Indicator KDE Connect
Name[ru]=Индикатор KDE Connect
Name[sk]=Indikátor aplikácie KDE Connect
Name[sl]=Indikator KDE Connect
Name[sr]=КДЕ‑конекцијин показатељ
Name[sr@ijekavian]=КДЕ‑конекцијин показатељ
Name[sr@ijekavianlatin]=KDE‑konekcijin pokazatelj
Name[sr@latin]=KDE‑konekcijin pokazatelj
Name[sv]=KDE-anslut indikator
Name[ta]=கே.டீ.யீ. கனெக்ட் காட்டி
Name[tr]=KDE Bağlan Göstergesi
Name[uk]=Індикатор KDE Connect
Name[x-test]=xxKDE Connect Indicatorxx
Name[zh_CN]=KDE Connect 指示器
Name[zh_TW]=KDE 連線指示符號
Exec=kdeconnect-indicator
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network;
NotShowIn=KDE;

