[Desktop Entry]
Name[am]=gThumb
Name[az]=gThumb
Name[be]=gThumb
Name[bg]=gThumb
Name[bs]=gThumb
Name[ca]=gThumb
Name[ca@valencia]=gThumb
Name[cs]=gThumb
Name[da]=gThumb
Name[de]=gThumb
Name[dz]=ཇི་ཐམཔ།
Name[el]=gThumb
Name[en_CA]=gThumb
Name[en_GB]=gThumb
Name[eo]=gThumb
Name[es]=gThumb
Name[et]=gThumb
Name[eu]=gThumb
Name[fa]=gThumb
Name[fi]=gThumb
Name[fr]=gThumb
Name[gl]=gThumb
Name[gu]=જીથમ્બ
Name[he]=gThumb
Name[hr]=gThumb
Name[hu]=gThumb
Name[id]=gThumb
Name[ie]=gThumb
Name[is]=gThumb
Name[it]=gThumb
Name[ja]=gThumb
Name[ka]=gThumb
Name[kn]=gThumb
Name[ko]=gThumb
Name[lt]=gThumb
Name[lv]=gThumb
Name[mk]=gThumb
Name[ms]=gThumb
Name[nb]=gThumb
Name[nds]=gThumb
Name[ne]=जीथम्ब
Name[nl]=gThumb
Name[oc]=gThumb
Name[pa]=ਜੀ-ਥੰਮ
Name[pl]=gThumb
Name[ps]=gThumb
Name[pt]=gThumb
Name[pt_BR]=gThumb
Name[ro]=gThumb
Name[ru]=gThumb
Name[sk]=gThumb
Name[sl]=gThumb
Name[sr]=Гномов сличко
Name[sr@latin]=Gnomov sličko
Name[sv]=gThumb
Name[th]=gThumb
Name[tr]=gThumb
Name[uk]=gThumb
Name[vi]=gThumb
Name[xh]=i-gThumb
Name[zh_CN]=gThumb
Name[zh_HK]=gThumb
Name[zh_TW]=gThumb
Name=gThumb
X-GNOME-FullName=gThumb Image Viewer
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Праглядальнік; выяў; выява;
Keywords[bs]=slika;preglednik;
Keywords[ca]=Imatge;Visualitzador;
Keywords[cs]=obrázek;fotka;fotografie;prohlížeč;
Keywords[da]=Billede;Billedfremviser;Fremviser;
Keywords[de]=Bild;Bildbetrachter;
Keywords[el]=Image;Viewer;Εικόνα;θεατής;
Keywords[eo]=Bildo;Montrilo;
Keywords[es]=Visor;Imagen;
Keywords[eu]=Irudia; Ikustailea;
Keywords[fi]=Image;Viewer;Kuvakatselin;
Keywords[fr]=Image;Visionneur;
Keywords[he]=תמונה;מציג;מציג תמונות;
Keywords[hr]=Slika;Preglednik;
Keywords[hu]=Kép;Megjelenítő;
Keywords[id]=Citra;Gambar;Penampil;
Keywords[ie]=Image;Visor;
Keywords[is]=Myndarýnir;myndaskoðari;mynd;ljósmynd;
Keywords[it]=Immagine;Visualizzatore;
Keywords[ja]=Image;Viewer;画像;イメージ;ビューアー;
Keywords[lt]=Paveikslėlis;Peržiūra;
Keywords[lv]=Attēls;skatītājs;
Keywords[nl]=Image;Viewer;
Keywords[pl]=Obraz;Przeglądarka;
Keywords[pt]=Visualizador;Imagens;
Keywords[pt_BR]=Imagens;Image;Visualizador;Viewer;
Keywords[ro]=Image;Viewer;Imagine;Imagini;Vizualizator;
Keywords[ru]=Изображение; Обозреватель;
Keywords[sl]=Image;Viewer;slike;pregledovanje;pregledovalnik;fotografije;urejanje;album;
Keywords[sr]=слика;прегледник;
Keywords[sr@latin]=slika;preglednik;
Keywords[sv]=Bild;Visare;
Keywords[tr]=Resim;Görüntüleyici;
Keywords[uk]=Image;Viewer;зображення;перегляд;переглядач;
Keywords[zh_CN]=Image;Viewer;图像;浏览器;查看;照片;
Keywords[zh_TW]=Image;Viewer;影像;圖像;圖片;檢視器;
Keywords=Image;Viewer;
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=gthumb %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.gThumb
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;image/webp;image/jxl;
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-DocPath=gthumb/gthumb.xml
Actions=new-window

[Desktop Action new-window]
Name[be]=Новае акно
Name[bs]=Novi prozor
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[eu]=_Leiho berria
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[he]=חלון חדש
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[ie]=Nov fenestre
Name[is]=Nýr gluggi
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[nl]=Nieuw venster
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sr@latin]=Novi prozor
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口
Name[zh_TW]=新增視窗
Name=New Window
Exec=gthumb --new-window
