[Desktop Entry]
Type=Application
Version=1.1
Name[ca]=Nicotine+
Name[cs]=Nicotine+
Name[da]=Nicotine+
Name[de]=Nicotine+
Name[eo]=Nicotine+
Name[es_CL]=Nicotine+
Name[es_ES]=Nicotine+
Name[eu]=Nicotine+
Name[fi]=Nicotine+
Name[fr]=Nicotine+
Name[hu]=Nicotine+
Name[it]=Nicotine+
Name[lt]=Nicotine+
Name[nb_NO]=Nicotine+
Name[nl]=Nicotine+
Name[pl]=Nicotine+
Name[pt_BR]=Nicotine+
Name[ru]=Nicotine+
Name[sk]=Nicotine+
Name[tr]=Nicotine+
Name[uk]=Nicotine+
Name[zh_CN]=Nicotine+
Name=Nicotine+
Icon=org.nicotine_plus.Nicotine
Exec=nicotine
Terminal=false
Categories=Network;FileTransfer;InstantMessaging;Chat;P2P;GTK;
Keywords[ca]=Soulseek; Nicotine;compartir;música; P2P;d'igual a igual; GTK;
Keywords[cs]=Soulseek;Nicotine;sdílení;hudba;P2P;peer-to-peer;GTK;
Keywords[de]=Soulseek;Nicotine;Austausch;Musik;P2P;Peer-to-Peer;GTK;
Keywords[es_CL]=Soulseek;Nicotine;compartir;música;P2P;para a par;GTK;
Keywords[es_ES]=Soulseek;Nicotine;compartir;música;P2P;peer-to-peer;GTK;
Keywords[fi]=Soulseek;Nicotine;jakaminen;musiikki;P2P;vertaisverkko; GTK;
Keywords[fr]=Soulseek ;Nicotine ;partage ;musique ;P2P ; pair-à-pair ;GTK ;
Keywords[hu]=Soulseek;Nicotine;megosztás;zene;P2P;peer-to-peer;GTK;
Keywords[it]=Soulseek,Nicotine,condivisione;musica;P2P;peer-to-peer;GTK;
Keywords[lt]=Soulseek;Nicotine;dalijimasis;muzika; P2P;lygiaverčiai; GTK;
Keywords[lv]=Soulseek;Nicotine;kopīgošana;mūzika;P2P;peer-to-peer;GTK;
Keywords[nb_NO]=Soulseek;Nicotine;deling;musikk;P2P;likemannsnettverk;GTK;
Keywords[nl]=Soulseek;Nicotine;delen;muziek;P2P;peer-naar-peer;GTK;
Keywords[pl]=Soulseek;Nicotine;sharing;music;P2P;peer-to-peer;GTK;
Keywords[pt_BR]=Soulseek;Nicotine;compartilhamento;música; P2P;peer-to-peer;GTK;
Keywords[ru]=Soulseek;Nicotine;обмен;музыка;P2P;одноранговая сеть;GTK;
Keywords[sk]=Soulseek;Nicotine;zdieľanie;hudba;P2P;peer-to-peer;GTK;
Keywords[tr]=Soulseek;Nicotine;sharing;music;P2P;peer-to-peer;GTK;paylaşım;müzik;eşler-arası;
Keywords[uk]=Soulseek;Nicotine;обмін;музика;P2P;однорангова мережа;GTK;
Keywords[zh_CN]=Soulseek；Nicotine；分享；音乐；P2P；点对点；GTK；
Keywords=Soulseek;Nicotine;sharing;music;P2P;peer-to-peer;GTK;
StartupNotify=true
X-GNOME-SingleWindow=true
X-GNOME-UsesNotifications=true

