[Desktop Entry]
Name=Darktable

X-GNOME-FullName=Darktable Photo Workflow Software

Version=1.0

Type=Application
Categories=Graphics;Photography;GTK;
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=graphics;photography;raw;
Keywords[cs]=grafika;fotografie;raw;
Keywords[de]=Graphik;Grafik;Photographie;Fotografie;RAW;
Keywords[en@truecase]=graphics;photography;raw;
Keywords[es]=gráficos;fotografía;raw;
Keywords[fi]=Grafiikka;Valokuvaus;RAW;
Keywords[fr]=graphisme;photographie;RAW;
Keywords[hu]=grafika;fénykép;fotó;raw;
Keywords[it]=grafica;fotografia;RAW;
Keywords[ja]=グラフィックス、写真、RAW
Keywords[nl]=grafisch;fotografie;raw;
Keywords[pl]=grafika;fotografia;raw;
Keywords[pt_BR]=gráfico;fotografia;raw;
Keywords[ru]=graphics;photography;raw;
Keywords[sl]=grafika;fotografije;surove;
Keywords[sq]=graphics;photography;raw;
Keywords[uk]=graphics;photography;raw;
Keywords[zh_CN]=graphics;photography;raw;图片;图像;摄影;
Keywords[zh_TW]=圖形、攝影、RAW 檔

Exec=/nix/store/7nvzrvy2jin0wzjnlgk085q8805kb1lz-darktable-4.6.0/bin/darktable %U
TryExec=/nix/store/7nvzrvy2jin0wzjnlgk085q8805kb1lz-darktable-4.6.0/bin/darktable
Terminal=false
StartupNotify=true

MimeType=application/x-darktable;image/x-dcraw;image/x-adobe-dng;image/x-canon-cr2;image/x-canon-crw;image/x-fuji-raf;image/x-kodak-dcr;image/x-kodak-kdc;image/x-minolta-mrw;image/x-nikon-nef;image/x-nikon-nrw;image/x-olympus-orf;image/x-panasonic-rw;image/x-panasonic-rw2;image/x-pentax-pef;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;image/jpeg;image/png;image/tiff;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-portable-floatmap;image/vnd.radiance;image/avif;image/x-canon-cr3;image/x-exr;image/aces;image/heif;image/heic;image/jp2;image/jxl;image/webp;image/qoi;image/fits

Icon=darktable
StartupWMClass=darktable

X-Unity-IconBackgroundColor=#252525

