[Desktop Entry]
Categories=Network;FileTransfer;P2P;Qt;
Exec=qbittorrent %U
Icon=qbittorrent
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Name=qBittorrent
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=qbittorrent
Keywords=bittorrent;torrent;magnet;download;p2p;
SingleMainWindow=true

# Translations
Name[af]=qBittorrent
Name[ar]=qBittorrent
Name[be]=qBittorrent
Name[bg]=qBittorrent
Name[bn]=qBittorrent
Name[zh]=qBittorrent
Name[bs]=qBittorrent
Name[ca]=qBittorrent
Name[cs]=qBittorrent
Name[da]=qBittorrent
Name[de]=qBittorrent
Name[el]=qBittorrent
Name[en_GB]=qBittorrent
Name[es]=qBittorrent
Name[et]=qBittorrent
Name[eu]=qBittorrent
Name[fa]=qBittorrent
Name[fi]=qBittorrent
Name[fr]=qBittorrent
Name[gl]=qBittorrent
Name[gu]=qBittorrent
Name[he]=qBittorrent
Name[hr]=qBittorrent
Name[hu]=qBittorrent
Name[hy]=qBittorrent
Name[id]=qBittorrent
Name[is]=qBittorrent
Name[it]=qBittorrent
Name[ja]=qBittorrent
Name[ka]=qBittorrent
Name[ko]=qBittorrent
Name[lt]=qBittorrent
Name[mk]=qBittorrent
Name[my]=qBittorrent
Name[nb]=qBittorrent
Name[nl]=qBittorrent
Name[pl]=qBittorrent
Name[pt]=qBittorrent
Name[pt_BR]=qBittorrent
Name[ro]=qBittorrent
Name[ru]=qBittorrent
Name[sk]=qBittorrent
Name[sl]=qBittorrent
Name[sq]=qBittorrent
Name[sr]=qBittorrent
Name[sr@latin]=qBittorrent
Name[sv]=qBittorrent
Name[ta]=qBittorrent
Name[te]=qBittorrent
Name[th]=qBittorrent
Name[tr]=qBittorrent
Name[ur]=qBittorrent
Name[uk]=qBittorrent
Name[vi]=qBittorrent
Name[zh_HK]=qBittorrent
Name[zh_TW]=qBittorrent
Name[eo]=qBittorrent
Name[kk]=qBittorrent
Name[en_AU]=qBittorrent
Name[rm]=qBittorrent
Name[jv]=qBittorrent
Name[oc]=qBittorrent
Name[ug]=qBittorrent
Name[yi]=qBittorrent
Name[nqo]=qBittorrent
Name[uz@Latn]=qBittorrent
Name[ltg]=qBittorrent
Name[hi_IN]=qBittorrent
Name[az@latin]=qBittorrent
Name[lv_LV]=qBittorrent
Name[ms_MY]=qBittorrent
Name[mn_MN]=qBittorrent
Name[ne_NP]=qBittorrent
Name[pt_PT]=qBittorrent
Name[si_LK]=qBittorrent
