[Desktop Entry]
Name[ab]=Адиск ахархәара анализҟаҵага
Name[af]=Skyfgebruik
Name[an]=Analizador d'uso de disco
Name[ar]=محلّل استخدام القرص
Name[as]=ডিস্ক ব্যৱহাৰ বিশ্লেষক
Name[ast]=Analizador d'Usu de Discu
Name[be]=Аналіз дыскавай прасторы
Name[be@latin]=Analizatar zaniataści dyskavaj prastory
Name[bg]=Анализатор на ползването на диска
Name[bn]=ডিস্ক ব্যবহারের বিশ্লেষণ ব্যবস্থা
Name[bn_IN]=ডিস্ক ব্যবহারের বিশ্লেষণ ব্যবস্থা
Name[br]=Dezranner arver ar c'hantennoù
Name[bs]=Alat za analizu upotrebe diska
Name[ca]=Analitzador de l'ús dels discs
Name[ca@valencia]=Analitzador de l'ús dels discs
Name[crh]=Disk Qullanımı Tahlilcisi
Name[cs]=Analyzátor využití disku
Name[da]=Diskforbrugsanalyse
Name[de]=Festplattenbelegungsanalyse
Name[dz]=ཌིཀསི་གི་བེད་སྤྱོད་དཔྱད་ཞིབ་པ།
Name[el]=Αναλυτής χρήσης δίσκου
Name[en_GB]=Disk Usage Analyser
Name[en@shaw]=𐑛𐑦𐑕𐑒 𐑿𐑕𐑦𐑡 𐑨𐑯𐑩𐑤𐑲𐑟𐑻
Name[eo]=Diskuzada analizilo
Name[es]=Analizador de uso de disco
Name[et]=Kettakasutuse analüsaator
Name[eu]=Disko-erabileraren analizatzailea
Name[fa]=تحلیلگر مصرف دیسک
Name[fi]=Levynkäytön analysointi
Name[fo]=Disksnýtslugreinari
Name[fr]=Analyseur d’utilisation des disques
Name[fur]=Analizadôr di utilizazion dal disc
Name[fy]=Skiifgebrûk
Name[ga]=Anailíseoir Úsáid Diosca
Name[gd]=Sgrùdair cleachdadh nan diosga
Name[gl]=Analizador do uso do disco
Name[gu]=ડિસ્ક વપરાશકર્તા વિશ્લેષક
Name[he]=מנתח השימוש בכונן
Name[hi]=डिस्क प्रयोग विश्लेषण
Name[hr]=Analizator iskoristivosti diska
Name[hu]=Lemezhasználat-elemző
Name[id]=Penganalisa Penggunaan Diska
Name[ie]=Analisator del usage de discos
Name[is]=Disknotkunargreining
Name[it]=Analizzatore di utilizzo del disco
Name[ja]=ディスク使用量アナライザー
Name[ka]=დისკის მოხმარების ანალიზატორი
Name[kk]=Диск қолдануын анализдеушісі
Name[km]=កម្មវិធី​វិភាគ​ការ​ប្រើ​ថាស
Name[kn]=ಡಿಸ್ಕ್‍ ಬಳಕೆಯ ವಿಶ್ಲೇಷಕ
Name[ko]=디스크 사용량 분석
Name[ku]=Analîzkerê Bikaranîna Dîskê
Name[lt]=Disko naudojimo analizatorius
Name[lv]=Diska izmantojuma analizators
Name[mai]=डिस्क प्रयोग विश्लेषण
Name[mjw]=Disk Usage Analyzer
Name[mk]=Употребата на дискот
Name[ml]=ഡിസ്ക് യൂസേജ് അനലൈസർ
Name[mr]=डीस्क वापर विश्लेषक
Name[ms]=Penganalisis Penggunaan Cakera
Name[nb]=Analyse av diskplass
Name[nds]=Spiekergebruk unnersöken
Name[ne]=डिस्क प्रयोग विश्लेषक
Name[nl]=Schijfgebruik
Name[nn]=Analyse av diskplass
Name[oc]=Analisador d'utilizacion dels disques
Name[or]=ଡିସ୍କ ବ୍ଯବହାର ବିଧି ବିଶ୍ଳେଷକ
Name[pa]=ਡਿਸਕ ਵਰਤੋਂ ਜਾਂਚਕਾਰ
Name[pl]=Wykorzystanie dysku
Name[ps]=د ټيکلي کارونې شننونکی
Name[pt]=Analisador de utilização do disco
Name[pt_BR]=Analisador de uso de disco
Name[ro]=Analizatorul utilizării discului
Name[ru]=Анализатор использования дисков
Name[si]=තැටි භාවිත විශ්ලේෂකය
Name[sk]=Analyzátor využitia disku
Name[sl]=Orodje za preučevanje porabe diska
Name[sr]=Испитивач искоришћености диска
Name[sr@latin]=Ispitivač iskorišćenosti diska
Name[sv]=Diskanvändningsanalysator
Name[ta]=வட்டு பயன்பாடு ஆராய்வி
Name[te]=డిస్క్ వినిమయ విశ్లేషకం
Name[tg]=Таҳлилгари истифодаи диск
Name[th]=เครื่องมือวิเคราะห์การใช้ดิสก์
Name[tr]=Disk Kullanımı İnceleyici
Name[ug]=دىسكا ئىشلىتىش تەھلىلچىسى
Name[uk]=Аналізатор використання диска
Name[vi]=Bộ phân tích đĩa
Name[zh_CN]=磁盘占用分析器
Name[zh_HK]=磁碟用量分析器
Name[zh_TW]=磁碟用量分析器
Name=Disk Usage Analyzer
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=stoor;spasie;skoonmaak;
Keywords[an]=almacenamiento;espacio;limpieza;
Keywords[ar]=تخزين;مساحة;تنظيف;
Keywords[as]=সংৰক্ষণ;স্থান;পৰিষ্কাৰ;
Keywords[be]=сховішча;дыск;прастора;ачыстка;
Keywords[bg]=пространство;обем;размер;свободно;заето;изчистване;освобождаване;storage;space;cleanup;
Keywords[bn_IN]=স্টোরেজ;স্পেস;ক্লিন-অাপ;
Keywords[br]=kadaviñ;egor;naetaat;
Keywords[bs]=smještaj;skladištenje;prostor;čišćenje;
Keywords[ca]=emmagatzematge;emmagatzemament;espai;neteja;
Keywords[ca@valencia]=emmagatzematge;emmagatzemament;espai;neteja;
Keywords[crh]=mağaz;feza;temizlik;temizle;
Keywords[cs]=úložiště;místo;prostor;vyčistit;uvolnit;
Keywords[da]=lager;plads;oprydning;
Keywords[de]=Speicherplatz;Belegung;Kapazität;frei;aufräumen;
Keywords[el]=αποθήκευση;χώρος;καθαρισμός;storage;space;cleanup;
Keywords[en_GB]=storage;space;cleanup;
Keywords[eo]=spaco;diskospaco;purigi;senrubigi;
Keywords[es]=almacenamiento;espacio;limpieza;
Keywords[et]=ruum;kettakasutus;andmed;puhastamine;puhastus;
Keywords[eu]=biltegia;lekua;garbitu;
Keywords[fa]=storage;space;cleanup;ذخیره;فضا;پاکسازی;
Keywords[fi]=storage;space;cleanup;tila;tilankäyttö;levytila;tallennustila;
Keywords[fo]=goymsla;pláss;upprudding;
Keywords[fr]=stockage;espace disque;nettoyage;
Keywords[fur]=archivi;spazi;pulizie;
Keywords[fy]=storage;opslach;space;romte;cleanup;
Keywords[ga]=stóras;spás;glanadh;
Keywords[gd]=storage;space;cleanup;stòras;rum;àite;glanadh;sgioblachadh;sgioblaich;diosga;
Keywords[gl]=almacenamento;espazo;limpeza;
Keywords[gu]=સંગ્રહ;જગ્યા;સાફ કરવુ;
Keywords[he]=אחסון;מקום;שטח;נפח;ניקוי;
Keywords[hi]=storage;space;cleanup;
Keywords[hr]=pohrana;prostor;čišćenje;
Keywords[hu]=tároló;lemezterület;takarítás;
Keywords[id]=penyimpanan;ruang;pembersihan;
Keywords[ie]=inmagasinage;spacie;vacuar;nettar;
Keywords[is]=gögn;geymsla;pláss;hreinsun;tiltekt;
Keywords[it]=archiviazione;spazio;pulizia;
Keywords[ja]=storage;space;cleanup;ストレージ;スペース;空間;容量;使用量;クリーンアップ;
Keywords[ka]=storage;space;cleanup;
Keywords[kk]=storage;space;cleanup;сақтауыш;орын;тазарту;
Keywords[kn]=ಶೇಖರಣೆ;ಸ್ಥಳ;ಸ್ವಚ್ಛಗೊಳಿಸು;
Keywords[ko]=storage;저장;장치;하드;space;공간;cleanup;지우기;
Keywords[lt]=saugykla;vieta;išvalymas;
Keywords[lv]=uzkopšana;vieta;krātuve;
Keywords[mjw]=storage;space;cleanup;
Keywords[ml]=storage;space;cleanup;
Keywords[mr]=स्टोरेज;स्पेस;क्लिनअप;
Keywords[ms]=storan;ruang;pembersihan;
Keywords[nb]=lagring;plass;rydding;
Keywords[ne]=भण्डारण;space;सफा गर्नुहोस्;
Keywords[nl]=storage;opslag;ruimte;schijfgebruik;cleanup;opschonen;
Keywords[oc]=emmagazinatge;espaci disc;netejatge;
Keywords[or]=storage;space;cleanup;
Keywords[pa]=ਸਟੋਰੇਜ਼;ਥਾਂ;ਸਫ਼ਾਈ;storage;space;cleanup;
Keywords[pl]=pamięć masowa;dyski;miejsce;przestrzeń;czyszczenie;analizator;foldery;katalogi;
Keywords[pt]=armazenamento;espaço;limpar;
Keywords[pt_BR]=armazenamento;espaço;limpeza;
Keywords[ro]=storage;space;cleanup;spațiu;curăță;depozitare;stocare;
Keywords[ru]=накопитель;пространство;очистка;
Keywords[sk]=úložisko;miesto;premazanie;vyčistenie;čistenie;
Keywords[sl]=shranjevanje;prostor;čiščenje;zasedenost;datoteke;shramba;storage;clean;počisti;
Keywords[sr]=смештај;складиштење;простор;чишћење;storage;space;cleanup;
Keywords[sr@latin]=smeštaj;skladištenje;prostor;čišćenje;
Keywords[sv]=lagring;utrymme;rensning;
Keywords[ta]=கிடங்கு;இடம்;சுத்தகரிப்பு;
Keywords[te]=storage;space;cleanup;
Keywords[tg]=захирагоҳ;фазо;поксозӣ;
Keywords[tr]=depolama;biriktirme;saklama;boşluk;alan;temizlik;
Keywords[ug]=storage;space;cleanup;ساقلىغۇچ;بوشلۇق;تازىلاش;
Keywords[uk]=пам'ять;місце;очистити;
Keywords[vi]=storage;space;cleanup;kho;chứa;đĩa;dia;trống;trong;dọn dẹp;don dep;xóa;xoa;
Keywords[zh_CN]=storage;space;cleanup;存储;空间;清理;占用;磁盘使用;硬盘;固态;机械;
Keywords[zh_HK]=storage;space;cleanup;儲存區;空間;清理;
Keywords[zh_TW]=storage;space;cleanup;儲存區;空間;清理;磁碟用量;分析;垃圾;
Keywords=storage;space;cleanup;
TryExec=baobab
Exec=baobab %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.baobab
Terminal=false
Type=Application
StartupNotify=true
MimeType=inode/directory;
Categories=GTK;GNOME;System;Filesystem;X-GNOME-Utilities;
DBusActivatable=true
X-GNOME-UsesNotifications=true
