[Desktop Entry]
Name[be]=Імпартаваць праз gThumb
Name[bs]=Unesi preko gThumb
Name[ca]=Importació amb el gThumb
Name[cs]=Import pomocí gThumb
Name[da]=Importér med gThumb
Name[de]=Mit gThumb importieren
Name[el]=Εισαγωγή με gThumb
Name[es]=Importar con gThumb
Name[eu]=Inportatu gThumb-ekin
Name[fi]=Tuo gThumb-kuvakatselimella
Name[fr]=Importer avec gThumb
Name[he]=ייבוא עם gThumb
Name[hr]=Ovezi sa gThumbom
Name[hu]=Importálás a gThumb programmal
Name[id]=Impor dengan gThumb
Name[ie]=Importar med gThumb
Name[is]=Flytja inn með gThumb
Name[it]=Importa con gThumb
Name[ja]=gThumb でインポート
Name[lt]=Importuoti su gThumb
Name[lv]=Importēt ar gThumb
Name[nl]=Met gThumb importeren
Name[pl]=Import za pomocą programu gThumb
Name[pt]=Importar com o gThumb
Name[pt_BR]=Importar com gThumb
Name[ro]=Importă cu gThumb
Name[ru]=Импортировать с помощью gThumb
Name[sl]=Uvozi s programom gThumb
Name[sr]=Увезите са Гномовим сличком
Name[sr@latin]=Uvezite sa Gnomovim sličkom
Name[sv]=Importera med gThumb
Name[tr]=GThumb ile İçeri Aktar
Name[uk]=Імпортувати за допомогою gThumb
Name[zh_CN]=使用 gThumb 导入
Name[zh_TW]=用 gThumb 匯入
Name=Import with gThumb
X-GNOME-FullName=gThumb Photo Import Tool
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=gthumb --import-photos %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.gThumb
MimeType=x-content/image-dcf;x-content/image-picturecd;
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-DocPath=gthumb/gthumb.xml
