# SPDX-License-Identifier: GPL-2.0-or-later
[Desktop Entry]
Version=1.0
Name[ar]=إنكسكيب
Name[as]=ইনস্কেপ
Name[be]=Inkscape
Name[bg]=Inkscape
Name[bn_BD]=ইন্কস্কেপ
Name[br]=Inkscape
Name[brx]=इङ्कस्केप
Name[ca]=Inkscape
Name[ca@valencia]=Inkscape
Name[cs]=Inkscape
Name[da]=Inkscape
Name[de]=Inkscape
Name[doi]=इंकस्केप 
Name[el]=Inkscape
Name[en_AU]=Inkscape
Name[en_GB]=Inkscape
Name[es]=Inkscape
Name[eu]=Inkscape
Name[fi]=Inkscape
Name[fr]=Inkscape
Name[ga]=Inkscape
Name[gl]=Inkscape
Name[gu]=Inkscape
Name[he]=אינקסקייפ
Name[hi]=इंकस्केप
Name[hr]=Inkscape
Name[hu]=Inkscape
Name[id]=Inkscape
Name[is]=Inkscape
Name[it]=Inkscape
Name[ja]=Inkscape
Name[km]=Inkscape
Name[kn]=ಇಂಕ್‌ಸ್ಕೇಪ್
Name[ko]=잉크스케이프
Name[kok]=इंकस्केप
Name[kok@latin]=Inkscape
Name[ks@aran]=اِنکسکیپ
Name[ks@deva]=इनकसकेप 
Name[lv]=Inkscape
Name[mai]=Inkscape
Name[ml]=ഇങ്ക്സ്കെയ്പ്
Name[mni]=ꯏꯪꯛꯁ꯭ꯀꯦꯞ
Name[mni@beng]=ইঙ্কস্কেপ
Name[mr]=इंकस्केप
Name[nb]=Inkscape
Name[nl]=Inkscape
Name[or]=ଇଙ୍କ୍ସ୍କେପ  
Name[pl]=Inkscape
Name[pt_BR]=Inkscape
Name[pt]=Inkscape
Name[ro]=Inkscape
Name[ru]=Inkscape
Name[sa]=इङ्क्स्केप् 
Name[sat@deva]=काली ञेनेल
Name[sat]=ᱠᱟᱞᱤ ᱧᱮᱱᱮᱞ
Name[sd]=اِنڪسڪيپ
Name[sd@deva]=इंकस्केप
Name[sk]=Inkscape
Name[sl]=Inkscape
Name[sr@latin]=Inkscape
Name[sr]=Inkscape
Name[sv]=Inkscape
Name[ta]=Inkscape
Name[te]=ఇంక్‌స్కేప్
Name[tr]=Inkscape
Name[uk]=Inkscape
Name[ur]=انك اسكیپ
Name[zh_CN]=Inkscape
Name[zh_TW]=Inkscape
Name=Inkscape
X-GNOME-FullName=Inkscape Vector Graphics Editor
Keywords[ar]=صورة;محرّر;شعاع;رسم;
Keywords[bg]=image;editor;vector;drawing;
Keywords[ca]=imatge;editor;vector;dibuix;
Keywords[ca@valencia]=imatge;editor;vector;dibuix;
Keywords[cs]=obrázek;editor;vektor;kresba;
Keywords[da]=billede;editor;redigering;vektor;tegning;
Keywords[de]=image;editor;vector;drawing;
Keywords[el]=εικόνα;επεξεργαστής;διάνυσμα;σχεδίαση;
Keywords[en_AU]=image;editor;vector;drawing;
Keywords[en_GB]=image;editor;vector;drawing;
Keywords[es]=imagen, editor; vectorial; dibujo;
Keywords[eu]=irudia;editorea;bektoriala;marrazkia;
Keywords[fi]=kuva;editori;vektori;piirustus;
Keywords[fr]=image;éditeur;vectoriel;dessin;
Keywords[hr]=slika;uređivač;vektor;crtež;crtanje;
Keywords[hu]=kép;szerkesztő;vektor;rajzolás;
Keywords[is]=mynd;ritill;vigur;vektor;línur;teikning;
Keywords[it]=immagine;editor;vettoriale;disegno;
Keywords[ja]=image;editor;vector;drawing;
Keywords[ko]=image;editor;vector;drawing;이미지;편집기;벡터;그리기;그림그리기;도면;도안;그림;사진;
Keywords[lv]=attēls;redaktors;vektors;zīmējums;
Keywords[nl]=image;editor;vector;drawing;
Keywords[pl]=obaz; edytor; wektor; rysowanie;
Keywords[pt_BR]=imagem;editor;vetor;desenho;
Keywords[pt]=imagem;editor;vetorial;desenho;
Keywords[ro]=imagine;editor;vector;desen;
Keywords[ru]=image;editor;vector;drawing;изображение;редактор;вектор;рисунок;
Keywords[sk]=obrázok;editor;vektorový;kreslenie;
Keywords[sl]=slika;urejevalnik;vektorski;risba;
Keywords[sv]=bild; redaktör; vektor; ritning;
Keywords[tr]=görüntü;düzenleyici;vektör;çizim;
Keywords[uk]=image;editor;vector;drawing;зображення;редактор;векторне;вектор;малювання;
Keywords[ur]=تصویر; ایڈیٹر; سمتیہ; ڈرائنگ;
Keywords[vi]=hình ảnh;trình soạn thảo;vector;bản vẽ;
Keywords[zh_CN]=image;editor;vector;drawing；矢量；图像；编辑；编辑器；向量;绘图;
Keywords[zh_TW]=影像;編輯器;向量;圖畫;
Keywords=image;editor;vector;drawing;
Type=Application
Categories=Graphics;VectorGraphics;GTK;
MimeType=image/svg+xml;image/svg+xml-compressed;application/vnd.corel-draw;application/pdf;application/postscript;image/x-eps;application/illustrator;image/x-wmf;image/x-emf;application/x-xccx;application/x-xcdt;application/x-xcmx;image/x-xcdr;application/visio;application/x-visio;application/vnd.visio;application/vnd.ms-visio.viewer;application/visio.drawing;application/vsd;application/x-vsd;image/x-vsd;
Exec=inkscape %F
TryExec=inkscape
Terminal=false
StartupNotify=true
Icon=org.inkscape.Inkscape
X-Ayatana-Desktop-Shortcuts=Drawing
Actions=new-window;

[X-Drawing Shortcut Group]
Name[ar]=رسم جديد
Name[bg]=Нова рисунка
Name[bn_BD]=নতুন ড্রইং
Name[br]=Tresadenn nevez
Name[ca]=Dibuix nou
Name[ca@valencia]=Dibuix nou
Name[cs]=Nová kresba
Name[da]=Ny tegning
Name[de]=Neue Zeichnung
Name[el]=Νέο σχέδιο
Name[en_AU]=New Drawing
Name[en_GB]=New Drawing
Name[es]=Dibujo nuevo
Name[eu]=Marrazki berria
Name[fi]=Uusi piirros
Name[fr]=Nouveau dessin
Name[hi]=नया चित्र
Name[hr]=Novi crtež
Name[hu]=Új rajz
Name[id]=Gambar Baru
Name[is]=Ný teikning
Name[it]=Nuovo disegno
Name[ja]=新しいベクター画像
Name[ko]=새 그림
Name[lv]=Jauns zīmējums
Name[nb]=Ny tegning
Name[nl]=Nieuwe tekening
Name[pl]=Nowy Rysunek
Name[pt_BR]=Novo Documento
Name[pt]=Novo desenho
Name[ro]=Desen nou
Name[ru]=Новый рисунок
Name[sk]=Nová kresba
Name[sl]=Nova risba
Name[sr@latin]=Novi crtež
Name[sr]=Нови цртеж
Name[tr]=Yeni Çizim
Name[uk]=Новий малюнок
Name[vi]=Bản Vẽ Mới
Name[zh_CN]=新建绘图
Name[zh_TW]=新增圖畫
Name=New Drawing
Exec=inkscape
TargetEnvironment=Unity

[Desktop Action new-window]
Name[bg]=Отваряне на нов прозорец
Name[ca]=Obre una finestra nova
Name[cs]=Otevřít nové okno
Name[de]=Ein neues Fenster öffnen
Name[en_AU]=Open a New Window
Name[en_GB]=Open a New Window
Name[es]=Abrir en una ventana nueva
Name[eu]=Ireki leiho berria
Name[fr]=Ouvrir une nouvelle fenêtre
Name[hr]=Otvori novi prozor
Name[hu]=Új ablak megnyitása
Name[is]=Opna nýjan glugga
Name[it]=Apri una nuova finestra
Name[ja]=新規ウィンドウを開く
Name[ko]=새 창 열기
Name[nl]=Nieuw venster openen
Name[pl]=Otwórz Nowe Okno
Name[pt_BR]=Abrir uma Nova Janela
Name[pt]=Abrir uma nova janela
Name[ro]=Deschide o fereastră nouă
Name[ru]=Открыть новое окно
Name[sl]=Odpri v novem oknu
Name[tr]=Yeni Bir Pencere Aç
Name[uk]=Відкрити нове вікно
Name[vi]=Mở một Cửa Sổ Mới
Name[zh_CN]=打开新窗口
Name[zh_TW]=開啟新視窗
Name=Open a New Window
Exec=inkscape
