[Desktop Entry]
Name[bg]=MusicBrainz Picard
Name[de]=MusicBrainz Picard
Name[es]=MusicBrainz Picard
Name[fi]=MusicBrainz Picard
Name[fr]=MusicBrainz Picard
Name[he]=מוזיקבריינז פיקארד
Name[it]=MusicBrainz Picard
Name[ja]=MusicBrainz Picard
Name[lt]=MusicBrainz Picard
Name[ms_MY]=Picard MusicBrainz
Name[nl]=MusicBrainz Picard
Name[pt]=MusicBrainz Picard
Name[pt_BR]=MusicBrainz Picard
Name[ru]=MusicBrainz Picard
Name[sq]=MusicBrainz Picard
Name[zh_CN]=MusicBrainz Picard
Name[zh_TW]=MusicBrainz Picard
Name=MusicBrainz Picard
Exec=picard %F
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Picard
Icon=org.musicbrainz.Picard
Categories=AudioVideo;Audio;AudioVideoEditing;
MimeType=application/ogg;application/x-flac;audio/aac;audio/ac3;audio/aiff;audio/ape;audio/dsf;audio/flac;audio/midi;audio/mp4;audio/mpeg;audio/mpeg4;audio/mpg;audio/ogg;audio/vorbis;audio/x-aac;audio/x-aiff;audio/x-ape;audio/x-flac;audio/x-flac+ogg;audio/x-m4a;audio/x-midi;audio/x-mp3;audio/x-mpc;audio/x-mpeg;audio/x-ms-wma;audio/x-ms-wmv;audio/x-musepack;audio/x-oggflac;audio/x-speex;audio/x-speex+ogg;audio/x-tak;audio/x-tta;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wav;audio/x-wavpack;audio/x-wma;video/x-ms-asf;video/x-theora;video/x-wmv;
Actions=new-window;

[Desktop Action new-window]
Name[de]=Neues Fenster
Name[es]=Nueva ventana
Name[fr]=Nouvelle fenêtre
Name[it]=Nuova finestra
Name[lt]=Naujas langas
Name=New Window
Exec=picard --stand-alone-instance %F
