[Desktop Entry]
Name[de]=mpdevil
Name[nl]=mpdevil
Name[bg]=mpdevil
Name[tr]=mpdevil
Name[pl]=mpdevil
Name[fr]=mpdevil
Name=mpdevil
Exec=mpdevil
Icon=org.mpdevil.mpdevil
Terminal=false
Type=Application
StartupNotify=true
Categories=Audio;AudioVideo;Player;GTK
