[Desktop Entry]
Version=1.0
Name=PulseAudio Volume Control
Name[as]=PulseAudio শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকাৰী
Name[be]=Рэгулятар гучнасці PulseAudio
Name[bn_IN]=PulseAudio শব্দের মাত্রা নিয়ন্ত্রণ ব্যবস্থা
Name[ca]=Control del volum del PulseAudio
Name[ca@valencia]=Control del volum del PulseAudio
Name[cs]=Ovládání hlasitosti PulseAudio
Name[da]=PulseAudio-lydstyrkeregulering
Name[de]=PulseAudio-Lautstärkeregler
Name[el]=Έλεγχος έντασης ήχου PulseAudio
Name[es]=Control de volumen de PulseAudio
Name[eu]=PulseAudio Bolumen Kontrola
Name[fi]=PulseAudion äänenvoimakkuuden hallinta
Name[fr]=Contrôle du volume PulseAudio
Name[gl]=Control de volume do PulseAudio
Name[gu]=PulseAudio વોલ્યુમ નિયંત્રણ
Name[he]=בקרת השמע של PulseAudio
Name[hi]=पल्सऑडियो ध्वनि नियंत्रण
Name[hr]=PulseAudio upravitelj glasnoće zvuka
Name[hu]=PulseAudio hangerőszabályzó
Name[it]=Regolazione del volume PulseAudio
Name[ja]=PulseAudio 音量調節
Name[kk]=PulseAudio дыбыс деңгейін басқару
Name[kn]=PulseAudio ಧ್ವನಿ ಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
Name[ko]=PulseAudio 크기 조절
Name[lt]=PulseAudio garsio reguliavimas
Name[ml]=പള്‍സ്ഓഡിയോ ശബ്ദ നിയന്ത്രണം
Name[mr]=PulseAudio आवाज नियंत्रण
Name[nb_NO]=PulseAudio-lydstyrkekontroll
Name[nl]=PulseAudio-volumeregeling
Name[nn]=Lydstyrkekontroll for PulseAudio
Name[or]=PulseAudio ଭଲ୍ୟୁମ ନିୟନ୍ତ୍ରଣ
Name[pa]=ਪਲੱਸਆਡੀਓ ਵਾਲੀਅਮ ਕੰਟਰੋਲ
Name[pl]=Sterowanie głośnością PulseAudio
Name[pt]=Controlo de Volume PulseAudio
Name[pt_BR]=Controle de volume do PulseAudio
Name[ru]=Регулятор громкости PulseAudio
Name[sk]=Ovládanie hlasitosti PulseAudio
Name[sl]=Nastavitev glasnost PulseAudio
Name[sr]=PulseAudio контрола јачине звука
Name[sr@latin]=PulseAudio kontrola jačine zvuka
Name[sv]=Volymkontroll för PulseAudio
Name[ta]=PulseAudio ஒலியளவு கட்டுப்பாடு
Name[te]=PulseAudio ధ్వని నియంత్రణ
Name[th]=ตัวควบคุมเสียง PulseAudio
Name[tr]=PulseAudio Ses Denetimi
Name[uk]=Керування гучністю PulseAudio
Name[zh_CN]=PulseAudio 音量控制
Name[zh_TW]=PulseAudio 音量控制
Exec=pavucontrol
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;Settings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
Keywords=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
Keywords[be]=pavucontrol;Мікрафон;Гучнасць;Прыглушэнне;Баланс;Гарнітура;Дынамікі;Навушнікі;Аўдыё;Мткшар;Вывад;Увод;Прылады;Прайграванне;Запіс;Сістэмныя гукі;Гукавая карта;Налады;
Keywords[ca]=pavucontrol;micròfon;volum;fosa;balanç;auriculars;altaveus;cascs;àudio; mesclador;sortida;entrada;dispositius;reproducció;gravació;sons de sistema;tarja de so;configuració;preferències;
Keywords[da]=pavucontrol;Mikrofon;Lydstyrke;Fade;Balance;Headset;Højttalere;Hovedtelefoner;Lyd;Mixer;Mikser;Output;Input;Enheder;Afspilning;Optagelse;Systemlyde;Lydkort;Indstillinger;Præferencer;
Keywords[es]=pavucontrol;micrófono;volumen;fundido;balance;auriculares;altavoces;cascos;audio;mezclador;salida;entrada;dispositivos;reproducción;grabación;sonidos del sistema;tarjeta de sonido;configuración;preferencias;
Keywords[eu]=pavucontrol;Microphone;Mikrofonoa;Volume;Bolumena;Fade;Balance;Headset;Speakers;Bozgorailuak;Headphones;Aurikularrak;Audioa;Mixer;Nahasgailua;Output;Irteera;Input;Sarrera;Devices;Gailuak;Playback;Erreprodukzioa;Recording;Grabazioa;System Sounds;Sistemaren soinuak;Sound Card;Soinu txartelak;Settings;Ezarpenak;Preferences;Hobespenak;
Keywords[fr]=pavucontrol;Microphone;Volume;Fondu;Balance;Casque;Haut-parleurs;Audio;Mixeur;Sortie;Entrée;Appareils;Lecture;Enregistrement;Sons systèmes;Carte son;Paramètres;Préférences;
Keywords[he]=pavucontrol;מיקרופון;עצמת שמע;ווליום;עמעום;פייד;איזון;בלנס;בלאנס;אוזניות;רמקולים;צלילים;קולות;מערבל;מיקסר;פלט;קלט;התקנים;מכשירים;נגינה;פלייבק;הקלטה;צלילי מערכת;כרטיס קול;הגדרות;העדפות;
Keywords[ja]=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
Keywords[ko]=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
Keywords[nl]=pavucontrol;Microfoon;Volume;Vervagen;Balans;Hoofdset;Luidsprekers;Koptelefoon;Audio;Mixer;Mengpaneel;Uitvoer;Invoer;Apparaten;Afspelen;Opnemen;Systeemgeluiden;Geluidskaart;Instellingen;Voorkeuren;
Keywords[nn]=pavucontrol;mikrofon;volum;lydstyrke;uttoning;inntoning;balanse;headset;hovudsett;høgtalarar;hovudtelefonar;lyd;audio;miksar;utlyd;innlyd;einingar;avspeling;opptak;systemlydar;lydkort;innstillingar;oppsett;
Keywords[pl]=pavucontrol;Mikrofon;Głośność;Oddalenie;Balans;Zestaw słuchawkowy;Headset;Głośniki;Słuchawki;Dźwięk;Audio;Mikser;Mixer;Wyjście;Wejście;Urządzenia;wyjściowe;wejściowe;Odtwarzanie;Nagrywanie;Dźwięki systemowe;Karta;dźwiękowa;Ustawienia;Preferencje;Mono;Stereo;Surround;Przestrzenny;Dookolny;PCM;S/PDIF;HDMI;DTS;Dolby;Digital;
Keywords[pt_BR]=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;microfone;equilíbrio;áudio;saída;entrada;dispositivos;reprodução;gravação;sistemas de som;placa de som;configurações;preferências;
Keywords[sk]=pavucontrol;Mikrofón;Hlasitosť;Slabnutie;Vyváženie;Náhlavná súprava;Reproduktory;Zvuk;Zmiešavač;Výstup;Vstup; Zariadenia;Prehrávanie;Nahrávanie;Systémové zvuky;Zvuková karta;Nastavenia;Predvoľby;
Keywords[sv]=pavucontrol;Mikrofon;Volym;Uttoning;Balans;Headset;Högtalare;Hörlurar;Audio;Mixer;Utmatning;Inmatning;Enheter;Uppspelning;Inspelning;Systemljud;Ljudkort;Inställningar;
Keywords[uk]=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;павуконтроль;мікрофон;гучність;приглушення;баланс;гарнітура;гучномовці;колонки;навушники;звук;мікшер;аудіо;виведення;введення;пристрої;відтворення;запис;звуки;звук;система;
