[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Exec=soffice %U
MimeType=application/vnd.oasis.opendocument.text-flat-xml;application/vnd.oasis.opendocument.spreadsheet-flat-xml;application/vnd.oasis.opendocument.graphics-flat-xml;application/vnd.oasis.opendocument.presentation-flat-xml;
Name=LibreOffice 7.5 XSLT based filters
GenericName=XSLT based filters
GenericName[ar]=مرشّحات تعتمد XSLT
GenericName[ca]=Filtres basats en XLST
GenericName[cs]=Filtry používající XSLT
GenericName[da]=XSLT baserede filtre
GenericName[de]=XSLT basierte Filter
GenericName[en]=XSLT based filters
GenericName[en_GB]=XSLT based filters
GenericName[eo]=XSLT-bazitaj filtriloj
GenericName[es]=Filtros basados en XSLT
GenericName[fr]=Filtres basés sur XSLT
GenericName[hu]=XSLT-alapú szűrők
GenericName[it]=Filtri basati su XSLT
GenericName[ja]=XSLTベースのフィルター
GenericName[nl]=Filters gebaseerd op XSLT
GenericName[pl]=Fltry bazujące na XSLT
GenericName[pt]=Filtros baseados em XSLT
GenericName[pt_BR]=Filtros baseados em XSLT
GenericName[ro]=Filtru bazat pe XSLT
GenericName[ru]=Фильтры XSLT
GenericName[sl]=Filtri na osnovi XSLT
GenericName[tr]=XSLT tabanlı süzgeçler
GenericName[uk]=Фільтри XSLT
GenericName[zh_CN]=基于 XSLT 的过滤器
NoDisplay=true
StartupNotify=true
X-GIO-NoFuse=true
X-KDE-Protocols=file,http,ftp,webdav,webdavs
