[Desktop Entry]
Name=YubiKey Personalization Tool
Exec=yubikey-personalization-gui
Icon=yubikey-personalization-gui
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;
Keywords=YubiKey;Personalization;
