body {
  padding: 50px;
  color: #d5d5d5;
  background-color: #181e23;
  font-family: monospace;
  font-size: 16px;
}

pre, blockquote, src {
  background: #1f252a;
  border: 3px solid #1f252a;
  border-left: 3px solid #384149;
  font-family: monospace;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 30px;
}

blockquote {
  font-size: 14px;
}

a {
  color: #80d1ff;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}

table, th, td {
  border: 1px solid;
  padding: 10px;
}
