// Colours
$background: #181e23;
$foreground: #d5d5d5;

$black: #1f252a;
$gray: #565F89;
$red: #FF8080;
$green: #97D59B;
$yellow: #FFFE80;
$blue: #ACE1FF;
$magenta: #C780FF;
$cyan: #80FFE4;
$white: $foreground;

* {
    background-color: unset;
    font-family: "Iosevka Nerd Font";
}

.eww_bar {
    background-color: $background;
    padding: 0.7em;
}

.power_icon {
    color: $red;
    font-size: 2.5em;
    margin-right: 3px;
}

.workspace-entry.occupied {
	color: #97D59B
}

.workspace-entry.current {
	color: #ACE1FF
}

.control {
    font-family: Iosevka Nerd Font;
    font-size: 1.5em;
    background-color: $black;
    border-radius: 5px;
}

.top {
    font-family: Iosevka Nerd Font;
    background-color: $black;
    border-radius: 5px;
}

.middle {
    font-family: Iosevka Nerd Font;
    font-size: 2em;
    background-color: $black;
    border-radius: 5px;
}

.lay {
    font-family: Iosevka Nerd Font;
    font-size: 1.7em;
    margin-right: 8px;
    margin-top: 5px;
    color: $red;
}

.bat {
    font-family: Iosevka Nerd Font;
    font-size: 1.6em;
    margin-left: 2px;
    margin-bottom: 2px;
    color: $blue;
}

.wifi-icon {
    font-family: Iosevka Nerd Font;
    font-size: 1.4em;
    margin-right: 10px;
    color: $magenta;
}

.volume {
    font-family: Iosevka Nerd Font;
    font-size: 1.7em;
    margin-left: 2px;
    margin-bottom: 5px;
    color: $green;
}

.time {
    font-family: Iosevka Nerd Font;
    font-weight: bold;
    font-size: 1.5em;
    background-color: $black;
    color: $white;
    border-radius: 5px;
    padding: 0.2em 0 0.2em 0;
}

.powermenu {
  font-family: Iosevka Nerd Font;
  font-size: 1.4em;
  font-weight: bold;
}
